*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/*
    мои стили
*/

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  /*justify-content: space-evenly;*/
  width: 1200px;
  height: 534px;
  margin: 133px 30px;
}
.title {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}

/*
    стилизация формы
*/

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10px;
}
.search-form__fieldset {
  border: none;
  width: 212px;
}
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 5px;
}
.search-form__label {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}
.search-form__label-text {
  padding-left: 3px;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield {
  color: #fff;
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: normal;
  background-color: transparent;
  border: 0;
  width: 225px;
  appearance: none;
  border-top: 1px solid rgb(255, 255, 255, 0.7);
  border-bottom: 1px solid rgb(255, 255, 255, 0.7);
  padding: 4px 0px 2px 0px;
}
.search-form__textfield:active {
  border: 1px solid rgb(255, 255, 255, 0.7);
}

.search-form__textfield::placeholder {
  color: rgb(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
.search-form__textfield:focus {
  /*border: 2px solid red;*/
}

/*
    стилизация чекбоксов
*/

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  background-color: #fff;
  width: 15px;
  height: 15px;
}
.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}
.search-form__submit-button {
  width: 194px;
}
.result {
  width: 711px;
}
.result__video-container {
  position: relative;
  margin-bottom: 20px;
  /* width: 100%;*/
  object-fit: cover;
  object-position: center;
  height: 386px;
}
.result__video {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/*
    блок с карточками
*/

.content__details {
  width: 399px;
}
.content__list {
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 298px;
  margin-top: 38px;
}
.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}
.content__list-item:focus {
  border: 1px solid #fff;
}
.cards-list-item-template {
  width: 100%;
}
.content__card-link {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  margin: 2px;
}
/*.content__card-link.content__card-link_current:active {
  background-color: #545050;
}*/
.content__card-link:active {
  background-color: #545050;
}
.content__card-link_current{
  background-color: #545050;
}
.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content__video-card:has(.content__video-card-title):hover {
  text-decoration: underline;
}
.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}
.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.content__video-card-description-container {
  width: 200px;
}
.content__video-card-thumbnail {
  width: 194px;
}

/*
    стили кнопок
    
*/

.button {
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}
.button:active {
  background-color: #545050;
}
button:focus {
  outline: 1px solid #fff;
}
.button:hover{
  text-decoration: underline;
}
.search-form__submit-button {
  padding: 0;
  margin-top: 17px;
}
/*.search-form__submit-button:hover {
  text-decoration: underline;
}*/
.more-button {
  width: 100%;
  margin-bottom: 14px;
}
.more-button:focus {
  outline: 1px solid #fff;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
